<!--
  Title: contact.component.html
  Author: Manel Phiseme
  Date: 23 December 2023
  Description: Loan application
-->

<div fxLayout="row wrap">
  <div class="titleAb">
    <h1>Contact Us</h1>
  </div>

  <div class="content">
    <div fxFlex class="content-con">
      <mat-card-title class="iconCont">
        <mat-icon style=" width: 30px;
         height: 30px;
         font-size: 36px;
        padding-bottom: 23px;
         margin-bottom: 23px;
         margin-top: 10px">
          navigation
        </mat-icon>
      </mat-card-title>

      <mat-card-content class="textT">
        <p>Direct: 123-111-1111</p>
        <p>Tool Free: 170-000-0000</p>
        <p>Fax: 1900-000-0000</p>
      </mat-card-content>
    </div>

    <div fxFlex class="content-con">
      <mat-card-title class="iconCont">
        <mat-icon style=" width: 30px;
        height: 30px;
        font-size: 36px;
       padding-bottom: 23px;
        margin-bottom: 23px;
        margin-top: 10px">
        call
      </mat-icon>
      </mat-card-title>

      <mat-card-content class="textT">
        <p>100 BucketWay st.</p>
        <p>JacksonVille, Utah, 76111</p>
      </mat-card-content>
    </div>
  </div>
</div>

