<!--
  Title: contact.component.html
  Author: Manel Phiseme
  Date: 23 December 2023
  Description: Loan application
-->

<div fxLayout="row wrap">
  <div class="contact">
    <h1>Contact Us</h1>
  </div>

  <div class="content">
    <div fxFlex class="content-con">
      <mat-card-title>
        <mat-icon style=" width: 30px; height: 30px; font-size: 36px">call</mat-icon>
      </mat-card-title>

      <mat-card-content class="content-con">
        <p>100 BucketWay st.</p>
        <p>JacksonVille, Utah, 76111</p>
      </mat-card-content>
    </div>

    <div fxFlex class="content-con">
      <mat-card-title>
        <mat-icon style=" width: 30px; height: 30px; font-size: 36px">navigation</mat-icon>
      </mat-card-title>

      <mat-card-content class="content-con">
        <p>Direct: 123-111-1111</p>
        <p>Tool Free: 170-000-0000</p>
        <p>Fax: 1900-000-0000</p>
      </mat-card-content>
    </div>
  </div>
</div>

