<!--
  Title: not-found.component.html
  Author: Manel Phiseme
  Date: 29 January 2023
  Description: Loan application
-->
<div fxLayout="row" class="notFound2" >
  <mat-card class="notFound">
    <mat-card-content class="errMessage2">
      <div>
        <div class="center center2">
          <p class="codeL">404</p>
          <p class="errMessage">OOOPS This page can't be find <mat-icon>adb</mat-icon></p>
          <a href="./" >Click here</a> to start over
        </div>
        <div class="center2" >
          <img src="../../../assets/peguin.png" alt="Image of a penguin">
        </div>


      </div>


    </mat-card-content>
  </mat-card>

</div>

