<!--
  Title: about.component.html
  Author: Manel Phiseme
  Date: 11 December 2022
  Description: Loan application
-->

  <div fxLayout="column">
      <div fxFlex xLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 20px;">
        <mat-card-title>
          <div class="titleAb">
            About
          </div>
        </mat-card-title>
        <mat-card-content class="padding-bottom:44px;">
          <div class="content-con">
            <div class="ImageAb">
              <img src="../../../assets/buckIcon.png">
            </div>
            <div class="pDiv">
              <p>Nodebuck is an application for the ages. It is currently being used by 1 million people and
                it’s only five years old. If you are a person who have their hands full and sometime can’t seem to
                remember everything that need to be done daily, then this app is the right one for you. We
                design this app to help people organize their life. With this application you will be able to
                add tasks to a to do list. Once you complete these tasks you will be able to move them to a completion list,
                once done. You will also remove a task from the lists whenever you choose to. </p>
               <p>We are pushing this application not to say that there’s something wrong with paper to-do list,
                we are just saying that with the advancement of technology there’s no need to keep a paper-list.
                Pretty much everyone has a smart phone. We carry them everywhere we go. A matter of fact if at any
                point we forget our smart phone somewhere we lose our mind. There are many instances where someone was
                going somewhere but once they noticed they left their phone at home, turn around to go get it.   </p>
               <p>So, we are encouraging you to use our app not to say you can’t and shouldn’t use paper to-do-list we
                just saying that a digital to do list is more convenient than a paper one. But do not get us wrong,
                if you enjoy using paper to track your to-do-list continue to do so.</p>
            </div>
          </div>
        </mat-card-content>
      </div>
  </div>



