/**
 Title: about.component.css
 Author: Professor Krasso
 Modified By: Manel Phiseme
 Date fed 5, 2023
 Description: css formating logging form for Nodebucket project
*/

.ImageCent{
  margin: 0 auto;
  margin-bottom: 30px;
}


.titleAb {
  font-size: 30px;
  width:20%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #946b2d;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 30px;
  color: #222f5b;
}


.content-con{
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  background-color: #946b2d;
  flex-wrap: wrap;
  width: 50%;
}

.ImageAb{
  margin-bottom: 44px;
}

p{
  color: #222f5b;
}
.pDiv{
  padding-left: 23px;
  padding-right: 23px;

}




