<!--
  Title: home.component.html
 Author: Professor Krasso
 Date: Jan 15,2023
 Modified By: Manel phiseme
 Description: The html page for the home component
Attributions:
https://angular.io/api/forms/NgForm
https://github.com/angular/flex-layout
-->
<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>
