<!--
  Title: home.component.html
 Author: Professor Krasso
 Date: Jan 15,2023
 Modified By: Manel phiseme
 Description: The html page for the home component
Attributions:
https://angular.io/api/forms/NgForm
https://github.com/angular/flex-layout
-->
<div fxLayout="column" class="main-welcome">

    <!--page header-->
    <div fxFlex>
      <h1 class="title">
        Welcome to WEB 450's - nodebucket Project <br />
        <span class="subtitle">
          Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
        </span>
      </h1>
    </div>


    <!--create task form-->
      <div fxFlex>
        <div class="task-container mat-elevation-z4" fxLayout="column">
        <mat-card>
          <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">

            <mat-card-content>
              <mat-form-field appearance="fill" class="w-100">
                <input
                type="text"
                matInput
                name="task"
                formControlName="task"
                placeholder="Enter a task name ..." />

                <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix>
                  <mat-icon color="primary" style="width:36px; height: 36px; font-size: 36px">add_circle</mat-icon>
                </button>
              </mat-form-field>

              <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
                task is a required field.
              </mat-error>

              <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
                The task field must be at least 3 characters in length.
              </mat-error>

              <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
                The task field cannot exceed 35 characters in length.
              </mat-error>

            </mat-card-content>
          </form>
        </mat-card>
      </div>
  </div>


  <!--list of tasks-->
  <div fxFlex>

    <div fxLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 20px;">

      <!-- todo column-->
      <div fxFlex>

        <mat-card class="mat-elevation-z0">
          <mat-card-title>ToDo</mat-card-title>

          <!--Code allow the movement of tasks from one column to another-->
          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutGap="10px"
               class="task-column"
               cdkDropList
               #todoList="cdkDropList"
               [cdkDropListData]="todo"
               [cdkDropListConnectedTo]="[doneList]"

               (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of todo" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">

                      <!--text value-->
                      <div fxFlex>
                        {{item.text}}
                      </div>

                      <!--Code to delete task-->
                      <div fxFlex fxLayoutAlign="end" style="margin-top: -7px;">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                      <!--code to delete task (These are the codes that will delete tasks)-->
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!--This is where the done tasks will appear (done column)-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Done</mat-card-title>
          <mat-card-content>
            <!--Code allow the movement of tasks from one column to another-->
            <div
              fxLayout="column"
              fxLayoutGap="10px"
               class="task-column"
               cdkDropList
               #doneList="cdkDropList"
               [cdkDropListData]="done"
               [cdkDropListConnectedTo]="[todoList]"

               (cdkDropListDropped)="drop($event)">


              <div *ngFor="let item of done" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">
                  <div fxLayout="row">
                    <div fxFlex>
                      {{item.text}}
                    </div>

                    <!--code to delete task-->

                    <!--Code to delete task-->
                    <div fxFlex fxLayoutAlign="end" style="margin-top: -7px;">
                      <button mat-icon-button (click)="deleteTask(item._id)">
                        <mat-icon color="warn">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>

