
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nodebucket-primary:(
  50:#e8ebf1,
  100:#c4cddf,
  200:#9facc9,
  300:#7b8cb2,
  400:#5e73a2,
  500:#425b95,
  600:#3b538c,
  700:#334980,
  800:#2c4073,
  900:#222f5b,
  A100:#8C9EFF,
  A200:#536DFE ,
  A400:#3D5AFE,
  A700:#304FFE,
  contrast:(
    50:#000000,
   100:#000000,
   200:#000000,
   300:#FFFFFF,
   400:#FFFFFF,
   500:#FFFFFF,
   600:#FFFFFF,
   700:#FFFFFF,
   800:#FFFFFF,
   900:#FFFFFF,
  A100:#000000,
  A200:#FFFFFF,
  A400:#FFFFFF,
  A700:#FFFFFF,
  )

);

$nodebucket-accent:(
  50:#fff8e7,
  100:#ffedc2,
  200:#ffe39c,
  300:#fdd877,
  400:#fad05c,
  500:#f7c943,
  600:#e6b83f,
  700:#d0a339,
  800:#ba8e35,
  900:#946b2d,
  A100:#FFD180,
  A200:#FFAB40,
  A400:#FF9100,
  A700:#FF6D00,
  contrast:(
    50:#000000,
   100:#000000,
   200:#000000,
   300:#FFFFFF,
   400:#FFFFFF,
   500:#FFFFFF,
   600:#FFFFFF,
   700:#FFFFFF,
   800:#FFFFFF,
   900:#FFFFFF,
  A100:#000000,
  A200:#FFFFFF,
  A400:#FFFFFF,
  A700:#FFFFFF,

)
);

/**
$nodebucket-primary: mat.define-palette($nodebucket-primary);
$nodebucket-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
*/
// calling and using the define palettes for the theme using the Material Design palettes available in palette.scss
$nodebucket-primary: mat.define-palette($nodebucket-primary);
$nodebucket-accent: mat.define-palette($nodebucket-accent);


// The warn palette is optional (defaults to red).
$nodebucket-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nodebucket-theme: mat.define-light-theme((
  color: (
    primary: $nodebucket-primary,
    accent: $nodebucket-accent,
    warn: $nodebucket-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nodebucket-theme);

